<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   PrivacyInfo.xcprivacy
   Runner

   Created by Loc hv on 17/2/25.
   Copyright (c) 2025 . All rights reserved.
-->
<plist version="1.0">
    <dict>
        <key>NSPrivacyAccessedAPITypes</key>
        <array>
            <dict>
                <key>NSPrivacyAccessedAPIType</key>
                <string>System Boot Time</string>
            </dict>
            <dict>
                <key>NSPrivacyAccessedAPIType</key>
                <string>Application Bundle Information</string>
            </dict>
            <dict>
                <key>NSPrivacyAccessedAPIType</key>
                <string>Device Information</string>
            </dict>
        </array>
    </dict>

</plist>
